.container h2 {
    padding-bottom: 1%;
}

.form-button:hover {
    cursor: pointer;
    opacity: 70%;
}

.social-block {
    display: flex;
    flex-direction: row;
    padding-top: 2%;
}

.social-block a {
    margin-right: 2%;
}

.social-block a img {
    width: 30px;
}

.social-block a:hover {
    opacity: 70%;
}