.container {
    width: 83%;
}

.container > h1 {
    text-align: center;

    padding-bottom: 1%;
    padding-top: 3%;
    font-size: 30pt;
}

#past {
    border-top: rgb(188, 46, 46) ridge 8px;
    width: 100%;
    text-align: center;
}

.event {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 2px solid white;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-left: 2%;
    margin-right: 2%;
}

.event > h2 {
    width: 25%;
}

.event > a {
    text-decoration: none;
    text-align: center;
    color: black;
    background-color: white;
    border-radius: 5px;
    padding: 8px;
    margin: 4px;
    justify-self: flex-end;
}

.event > a:hover {
    opacity: .7;
}