.container > h1 {
  text-align: center;

  padding-bottom: 2%;
  padding-top: 3%;
  font-size: 2.2vw;
}

@media (max-width: 1024px) {
  .container {
    width: 100%;
    border: none;
    margin: 0;
  }

  .container > h1 {
    font-size: 10vh;
  }

  .event > h2 {
    width: 100%;
    margin-right: 4%;
    font-size: 5vh;
  }

  .event > a {
    font-size: 5vh;
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  .container > h1 {
    font-size: 8vw;
  }

  .event > h2 {
    font-size: 3.5vw;
  }

  .event > a {
    font-size: 3.5vw;
  }
}

@media (max-width: 480px) {
}
