main {
    background-color: black;
    display: flex;
    flex-direction: column;
}

.parallax {
    opacity: 40%;
    animation: fadeout 3s;
    background-image: url("../images/ttkhbigstage.jpg");
    min-height: 100vh;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    position: absolute;
    width: 40vw;
    align-self: center;
    top: 30vh;

    animation: fadein 3s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadeout {
    from { opacity: 80%; }
    to   { opacity: 40%; }
}

.info-box-link-b {
    align-self: flex-end;
    padding: 1%;
    background-color: black;
    color: white;
    text-decoration: none;
    box-shadow: 0px 0px 5px black;
    top: 30px;
    min-width: 10%;
    text-align: center;
    font-weight: bold;
}

.info-box-link-w {
    align-self: flex-end;
    padding: 1%;
    background-color: white;
    color: black;
    text-decoration: none;
    box-shadow: 0px 0px 5px white;
    top: 30px;
    min-width: 12%;
    text-align: center;
    font-weight: bold;
}

.info-box-link-b:hover, .info-box-link-w:hover {
    opacity: .7;
}

.test {
    /* top: 100%; */
    /* position: absolute; */
    justify-self: center;
    align-self: center;
    border: ridge 8px rgb(188, 46, 46);
    /* width: 95%; */
    box-shadow: 0px 0px 20px black;
}