* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    width: 83%;
}

#menu-button {
    display: none;
    padding: 10px;
}

nav > ul > li:active, .active {
    background-color: rgb(188, 46, 46);
    color: white;
}

.social:active {
    background-color: black;
}

header {
    position: sticky;
    top: 0;
    z-index: 50;
    box-shadow: 0px 0px 20px black;
    background-color: black;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    list-style: none;
    font-size: larger;
    font-weight: bold;
    color: white;
    border-left: 1px solid white;
}

nav > ul > li:hover {
    color: rgb(165, 165, 165);
}

.social {
    border: none;
}

.social > ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}


.head-logo {
    min-width: 75px;
    width: 5%;
    
}

#logo-a {
    border-left: none;
    padding: 5px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    max-width: min-content;
    align-self: center;
}

#logo-a:hover {
    opacity: .7;
}

nav > ul > li > a {
    color: inherit;
    text-decoration: none;
    display: block;
    padding: 12px;
}

.social-nav {
    border-left: none;
    padding-right: .7vw;
    padding-left: .7vw;
}

.social-nav a {
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    align-items: center;
}

.social-nav a img {
    width: 25px;
    height: 25px;
}

.social-nav a:hover {
    opacity: 70%;
}

.info-box-white, .info-box-black {
    display: flex;
    flex-direction: row;
    height: 35vh;
}

.info-box-white {
    justify-content: flex-start;
    background-color: white;
    color: black;
}

.info-box-black {
    justify-content: flex-end;
    background-color: black;
    color: white;
}

.info-img {
    object-fit: cover;
    object-position: 50% 20%;
    width: 25%;
}

.info-box-text {
    display: flex;
    flex-direction: column;

    padding: 2%;
    padding-right: 4%;

    font-size: 1.2vw;
}

.info-p {
    padding-top: 2%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    background-color: black;
    color: white;

    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    box-shadow: 0px 0px 20px black;
    border: rgb(188, 46, 46) ridge 8px;
}

footer {
    left: 0;
    right: 0;
    padding: .75%;
    background-color: black;
    color: white;
    text-align: center;
    box-shadow: 0px 0px 10px black;
}

@media (max-width: 1024px) {
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    #menu-button {
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: center;
        justify-self: center;
    }

    nav {
        position: absolute;
        display: none;
        right: 0;
        top: 100%;
    }

    nav.open {
        display: flex;
    }

    nav > ul {
        flex-direction: column;
        align-items: flex-end;
    }

    .social:first-child {
        order: 1;
    }

    nav > ul > li {
        background-color: black;
        width: 150px;
        border-left: none;
        border-top: 1px solid white;
        font-size: x-large;
    }

    .social > ul {
        background-color: black;
        width: 150px;
        height: 50px;
        border-top: 1px solid white;
    }

    .social-nav {
        padding: 0;
    }

    .info-box-black, .info-box-white {
        flex-direction: column;
        border-bottom: rgb(188, 46, 46) ridge 12px;
        height: fit-content;
    }

    .info-box-white div:first-child, .info-box-black div:first-child {
        order: 1;
    }

    .info-box-text {
        font-size: 5vw;
    }

    .info-img {
        width: 100%;
    }

    .parallax {
        height: 75vh;
    }

    @media (max-width: 768px) {
    
    }

    @media (max-width: 480px) {
    
    }
}