* {
    margin: 0;
    padding: 0;
}

nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: black;
    align-items: center;
}

nav > ul > li {
    list-style: none;
    padding: 10px;
    font-family: "sans-serif";
    font-size: larger;
    font-weight: bold;
    color: white;
    border-left: 1px solid white;
}

li:hover {
    color: rgb(190, 190, 190);
}

.head_logo {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 7%;
    
}

#logo_li {
    border-left: none;
}
