* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: black;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: black;
    align-items: center;
}

nav ul li {
    list-style: none;
    font-size: larger;
    font-weight: bold;
    color: white;
    border-left: 1px solid white;
}

nav ul li:hover {
    color: rgb(165, 165, 165);
}

.head-logo {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 5%;
    
}

#logo-li {
    border-left: none;
    padding: 5px;
}

nav ul li a {
    color: inherit;
    text-decoration: none;
    display: block;
    padding: 10px;
}

.big-image {
    width: 100%;
    opacity: 40%;
    position: relative;
}

.main-image {
    display: flex;
    justify-content: center;
    align-items: center;

}

.logo {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 40%;

    animation: fadein 4s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.info-box {
    display: flex;
    justify-content: flex-start;
    background-color: white;
    flex-direction: column;
    padding: 10px;
    font-size: larger;
}

.active {
    background-color: rgb(188, 46, 46);
    color: white;
}